/*folha de estilo projeto*/
body{
  font-family: "Patrick Hand", cursive;
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100vh;
  background: #1976D2;
}

h1{
    text-align: center;
    display: block;
}

label {
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-top: 16px;   /* Distância do topo  */
    color: #000000;
}
input {
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    border: 1px solid #90caf9;
    border-radius: 6px;
    box-sizing: border-box; /* Evita que o padding 'estoure' a div */
    font-size: 15px;
}

button{
    width: 100%;
    background: #4262ff;
    color: #000000;
    padding: 8px;
    border-radius: 1px;
    border-radius: 8px;
    margin-top: 16px;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background: #8c9df4;
}
.limpar{
    background: #ff0202;
}
.limpar:hover{
    background: #ff4141;
}
.formulario{
    background: #ffffff;
    padding: 16px;
    margin-top: 16px;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    width: 320px;
}
#resultado{
    background: #ffffff;
    margin-top: 24px;
    padding: 16px;
    border-left: 4px solid #000000;
    display: none;
}
